# Tidy Data Exercises

In [1]:
import pandas as pd
import numpy as np
import os
import acquire
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# visualize
import seaborn as sns
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire
from env import host, user, password
from pydataset import data

## 1. Attendance Data
### Load the attendance.csv file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [3]:
attendance_df = pd.read_csv('untidy-data/attendance.csv')

In [4]:
attendance_df.head()

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [5]:
attendance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      object
 1   2018-01-01  4 non-null      object
 2   2018-01-02  4 non-null      object
 3   2018-01-03  4 non-null      object
 4   2018-01-04  4 non-null      object
 5   2018-01-05  4 non-null      object
 6   2018-01-06  4 non-null      object
 7   2018-01-07  4 non-null      object
 8   2018-01-08  4 non-null      object
dtypes: object(9)
memory usage: 416.0+ bytes

In [6]:
attendance_df.rename(columns={'Unnamed: 0': 'student'}, inplace=True)

In [9]:
attendance_df

,student,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [10]:
attendance_melt = attendance_df.melt(id_vars='student', var_name='date')

In [11]:
attendance_melt

   student        date value
0    Sally  2018-01-01     P
1     Jane  2018-01-01     A
2    Billy  2018-01-01     A
3     John  2018-01-01     P
4    Sally  2018-01-02     T
5     Jane  2018-01-02     P
6    Billy  2018-01-02     T
7     John  2018-01-02     T
8    Sally  2018-01-03     T
9     Jane  2018-01-03     T
10   Billy  2018-01-03     A
11    John  2018-01-03     H
12   Sally  2018-01-04     H
13    Jane  2018-01-04     T
14   Billy  2018-01-04     A
15    John  2018-01-04     P
16   Sally  2018-01-05     P
17    Jane  2018-01-05     T
18   Billy  2018-01-05     H
19    John  2018-01-05     P
20   Sally  2018-01-06     A
21    Jane  2018-01-06     T
22   Billy  2018-01-06     T
23    John  2018-01-06     T
24   Sally  2018-01-07     T
25    Jane  2018-01-07     A
26   Billy  2018-01-07     P
27    John  2018-01-07     P
28   Sally  2018-01-08     T
29    Jane  2018-01-08     T
30   Billy  2018-01-08     T
31    John  2018-01-08     P

In [29]:
dummies = pd.get_dummies(attendance_melt[['value']], drop_first=False)

In [30]:
df = pd.concat([attendance_melt, dummies], axis=1)

In [31]:
df

   student        date value  value_A  value_H  value_P  value_T
0    Sally  2018-01-01     P        0        0        1        0
1     Jane  2018-01-01     A        1        0        0        0
2    Billy  2018-01-01     A        1        0        0        0
3     John  2018-01-01     P        0        0        1        0
4    Sally  2018-01-02     T        0        0        0        1
5     Jane  2018-01-02     P        0        0        1        0
6    Billy  2018-01-02     T        0        0        0        1
7     John  2018-01-02     T        0        0        0        1
8    Sally  2018-01-03     T        0        0        0        1
9     Jane  2018-01-03     T        0        0        0        1
10   Billy  2018-01-03     A        1        0        0        0
11    John  2018-01-03     H        0        1        0        0
12   Sally  2018-01-04     H        0        1        0        0
13    Jane  2018-01-04     T        0        0        0        1
14   Billy  2018-01-04     A        1        0        0        0
15    John  2018-01-04     P        0        0        1        0
16   Sally  2018-01-05     P        0        0        1        0
17    Jane  2018-01-05     T        0        0        0        1
18   Billy  2018-01-05     H        0        1        0        0
19    John  2018-01-05     P        0        0        1        0
20   Sally  2018-01-06     A        1        0        0        0
21    Jane  2018-01-06     T        0        0        0        1
22   Billy  2018-01-06     T        0        0        0        1
23    John  2018-01-06     T        0        0        0        1
24   Sally  2018-01-07     T        0        0        0        1
25    Jane  2018-01-07     A        1        0        0        0
26   Billy  2018-01-07     P        0        0        1        0
27    John  2018-01-07     P        0        0        1        0
28   Sally  2018-01-08     T        0        0        0        1
29    Jane  2018-01-08     T        0        0        0        1
30   Billy  2018-01-08     T        0        0        0        1
31    John  2018-01-08     P        0        0        1        0